@{
	Layout = "~/Views/Shared/_RegisterLayout.cshtml";
	ViewBag.Title = "Log In";
}
<h1>Log In Using One of the Following Services</h1>

<div class="row">
    <div class="col-sm-4">
        <section id="socialLoginForm">
			@Html.Action( "ExternalLoginsList", "User", new { ReturnUrl = ViewBag.ReturnUrl } )
		</section>
	</div>
	<div class="col-md-8">
		<h4>What is this? How does this work?</h4>
		<p>This allows you to Register and Login to Freaky Fast Food using one of these services. They provide secure and encrypted channels to ensure the safety of your Freaky Fast Food Account.</p>
		<p>If you need to register with Freaky Fast Food, simply click on your perferred service on the left, and if redirected to a log in page for that service, log in, and enter the details when you return to Freaky Fast Food. You will now have a Freaky Fast Food Account</p>
		<p>Lastly, after signing in, you can add the other services so you can choose any and all of the four services to connect with your one Freaky Fast Food Account.</p>
		@Html.ActionLink("Cancel Log In", "Index", "Home", null, new { area="", @class="btn btn-danger btn-lg" })
	
	</div>
</div>