@{
	ViewBag.Title = "Store";
}
<div class="row">
	<div class="col-md-3">
		<div class="bs-sidebar hidden-print affix" role="complementary" id="sidenav">
			@{   Html.RenderPartial( "_Sidebar" ); }
		</div>
	</div>
	<div class="col-md-9">
	
	</div>
</div>
