@model FFF.Models.ItemSystem.Item

@Html.DisplayForModel( "Item" )

<div class="row">
	<div class="col-xs-4">
		@using ( Html.BeginForm( "Create", "Product", new { id = Model.RID }, FormMethod.Post, new { @class="LoadModal" } ) )
		{
			@Html.AntiForgeryToken()
			<button class="btn btn-info" type="submit">
				<span class="glyphicon glyphicon-edit">
				</span>
				Edit
			</button>
		}
	</div>@*
	<div class="col-xs-8">
		@using ( Html.BeginForm( "Delete", "Address", new { id = Model.RID }, FormMethod.Post, new { @class="LoadModal" } ) )
		{
			@Html.AntiForgeryToken()
			<button class="btn btn-danger" type="submit">
				<span class="glyphicon glyphicon-remove">
				</span>
				Delete
			</button>
		}
	</div>*@
</div>