@model FFF.Models.OrderSystem.Order

<div class="modal fade" id="DeleteOrder">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Deleting Order</h3>
			</div>
			<div class="modal-body">
				<div>
					<span class="help-inline field-validation-error">
						<span id="DeleteOrderErrors">
						</span>
					</span>
				</div>
				<p>Are you sure you wish to delete this Order?</p>
				<div class="well">
					
				</div>
			</div>
			<div class="modal-footer">
				@using ( Html.BeginForm( "DeleteAddressConfirmed", "Account", new { id = @Model.RID }, FormMethod.Post, new { id = "DeleteOrderForm" } ) )
				{
					@Html.AntiForgeryToken()
					<a href="#" class="btn" data-dismiss="modal" id="DeleteOrderCancel">Cancel</a>
					<button type="submit" class="btn btn-danger" id="DeleteOrderSubmit">
						<span class="glyphicon glyphicon-remove">
						</span>
						Delete
					</button>
				}
			</div>
		</div>
	</div>
</div>

<script>
	$(function () {
		$('#DeleteOrderForm').submit(function () {
			if ($(this).valid()) {
				$('#DeleteOrder').modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
				AjaxOrderStarted();
				$.ajax(
				{
					url: this.action,
					type: this.method,
					data: $(this).serialize(),
					success: function (result) {
						AjaxOrderCompleted(result);
					},
					error: function (xhr, textStatus, errorThrown) {
						AjaxOrderFinish();
						if (xhr.status == 400) {
							$('#DeleteOrder').modal('show');
							$("#DeleteOrderErrors").html(xhr.statusText);
						}
					}
				});
			}
			return false;
		});
	});
</script>