<div id="footer">
	<div class="container">
		<p class="text-default credit">
			&copy; @DateTime.Now.Year - FreakyFastFood
		</p>
@*		<a class="cert_img" href="http://rapidssl.com/" target="_blank">
			<img alt="Secured by RapidSSL" src="@Url.Content("~/Content/Images/rapidssl.gif")" />
		</a> *@
	</div>
</div>