@model FFF.Models.UserSystem.Account

<div class="row">
	<div class="col-md-6 visible-xs visible-sm">
		<h3>
			<strong>Your</strong> Information. Period.
		</h3>
		<p>			
		<strong>All of Your information</strong> will never be shared with anyone else.
		</p>
	</div>
	<div class="col-md-6">
		@using ( Html.BeginForm( "EditPersonal", "Profile", new { id = Model.RID }, FormMethod.Post, new { @class="form-horizontal LoadModal" } ) )
		{
			@Html.AntiForgeryToken()
			@Html.DisplayForModel("Personal")
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<button class="btn btn-info" type="submit">
					<span class="glyphicon glyphicon-edit">
					</span>
					Edit
				</button>
			</div>
		}
	</div>
	<div class="col-md-6 visible-lg visible-md ">
		<h3>
			<strong>Your</strong> Information. Period.
		</h3>
		<p>
			In an age where companies have no problem with tracking your information and selling it to make a buck, we stand proudly with our customers.
		</p>
		<p>
			You can rest knowing that we will safeguard any and all of <strong>Your</strong> Information.
			We will never allow any other business, government, or individual, including our Restaurant partners, to access to <strong>Your</strong> Information in any way. Period.
		</p>
	</div>
</div>