@model FFF.Models.OrderSystem.WishList

<legend>Shopping Cart</legend>
<div class="form-group">
	@Html.LabelFor( model => model.CardHolderName, new { @class = "col-lg-2 control-label" } )
	<div class="col-lg-10">
		@Html.TextBoxFor( model => model.CardHolderName, new { @class = "form-control-static" )
		@Html.ValidationMessageFor( model => model.CardHolderName, null, new { @class = "help-inline" } )
	</div>
</div>