@model FFF.Models.ContactSystem.Email

@using ( Html.BeginForm( "DeleteEmailConfirmed", "Profile", new { id=@Model.RID }, FormMethod.Post, new { id="ModalForm", @for="#ContactContent" } ) )
{
	@Html.AntiForgeryToken()
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Deleting Email Address</h3>
	</div>
	<div class="modal-body">
		<span class="help-inline field-validation-error">
		</span>
		<p>Are you sure you wish to delete this Address?</p>
		<div class="well">
			@Html.DisplayForModel( "_Email" )
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<button type="submit" class="btn btn-danger">
			<span class="glyphicon glyphicon-remove">
			</span>
			Delete
		</button>
	</div>
}