@{
	ViewBag.Subtitle = "Addresses";
}

<div class="subcontainer" id="@ViewBag.Subtitle">
	<div class="row">
		<div class="col-xs-6">
			<h2>
				@ViewBag.Subtitle
			</h2>
		</div>
		<div class="col-sm-6">
			@RenderBody()
		</div>
	</div>
	<div class="subcontent" id="@(ViewBag.Subtitle)Content">
		@{Html.RenderPartial( "_" + ViewBag.Subtitle );}
	</div>
</div>