@model IEnumerable<FFF.Models.ReviewSystem.Review>

<div class="subcontainer" id="Reviews">
	<div class="row">
		<div class="col-xs-6">
			<h2>Reviews</h2>
		</div>
		<div class="col-sm-6">
			<h2>
				@using ( Html.BeginForm( "Create", "Reviews", FormMethod.Post, new { @class="LoadModal" } ) )
				{
					@Html.AntiForgeryToken()
					<button class="btn btn-success pull-right" type="submit">
						<span class="glyphicon glyphicon-plus-sign">
						</span>
						Write A New Review
					</button>
				}
			</h2>
		</div>
	</div>
	<div class="subcontent" id="ReviewsContent">
		@{Html.RenderPartial( ViewBag.Path as String + "_Reviews.cshtml" );}
	</div>
</div>