@model IEnumerable<FFF.Models.LocationSystem.Address>

<div class="subcontainer" id="Addresses">
	<div class="row">
		<div class="col-xs-6">
			<h2>
				Addresses
			</h2>
		</div>
		<div class="col-sm-6">
			<h2>
				@using ( Html.BeginForm( "Create", "Address", FormMethod.Post, new { @class="LoadModal" } ) )
				{
					@Html.AntiForgeryToken()
					<button class="btn btn-success pull-right" type="submit">
						<span class="glyphicon glyphicon-plus-sign">
						</span>
						Add A New Address
					</button>
				}
			</h2>
		</div>
	</div>
	@using( Html.BeginForm("Index", "Address", FormMethod.Post, new { @class="refresher", @for="#AddressesContent" }))
	{
		@Html.AntiForgeryToken()
	}
	<div class="subcontent" id="AddressesContent">
	@*	@{Html.RenderPartial( "_Addresses" );} *@
	</div>
</div>