@model FFF.ViewModels.Order.OrderInput

<div class="modal fade" id="EditOrder">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Editing Order</h3>
			</div>
			@using ( Html.BeginForm( "EditOrder", "Account", FormMethod.Post, new { id="EditOrderForm" } ) )
			{
				@Html.AntiForgeryToken()
				<div class="modal-body">
					<div>
						<span class="help-inline field-validation-error">
							<span id="EditOrderErrors">
							</span>
						</span>
					</div>
					@Html.EditorForModel("Order")
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal" id="EditOrderCancel">Cancel</a>
					<button type="submit" class="btn btn-primary" id="EditOrderSubmit">
						<span class="glyphicon glyphicon-floppy-disk">
						</span>
						Save Changes
					</button>
				</div>
			}
		</div>
	</div>
</div>


<script>
	$(function () {
		$('#EditOrderForm').submit(function () {
			if ($(this).valid()) {
				$('#EditOrder').modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
				$('#OrdersUpdated').hide();
				$('#OrdersUpdating').show();
				$.ajax(
				{
					url: this.action,
					type: this.method,
					data: $(this).serialize(),
					success: function (result) {
						AjaxOrderCompleted(result);
					},
					error: function (xhr, textStatus, errorThrown) {
						$('#OrdersUpdated').show();
						$('#OrdersUpdating').hide();
						if (xhr.status == 400) {
							$('#EditOrder').modal('show');
							$("#EditOrderErrors").html(xhr.statusText);
						}
					}
				});
			}
			return false;
		});
	});
</script>