@model FFF.ViewModels.PaymentMethod.PaymentMethodInput

<div class="modal fade EditModal" id="EditPaymentMethod">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Editing Payment Method</h3>
			</div>
			@using ( Html.BeginForm( "EditPaymentMethod", "Account", FormMethod.Post, new { id="EditPaymentMethodForm", @class="EditForm" } ) )
			{
				@Html.AntiForgeryToken()
				<div class="modal-body">
					<div>
						<span class="help-inline field-validation-error">
							<span id="EditPaymentMethodErrors">
							</span>
						</span>
					</div>
					@Html.EditorForModel("_PaymentMethod");
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal" id="EditPaymentMethodCancel">Cancel</a>
					<button type="submit" class="btn btn-primary" id="EditPaymentMethodSubmit">
						<span class="glyphicon glyphicon-floppy-disk">
						</span>
						Save Changes
					</button>
				</div>
			}
		</div>
	</div>
</div>


<script>



	$(function () {
		$('#EditPaymentMethodForm').submit(function () {
			if ($(this).valid()) {
				$('#EditPaymentMethod').modal('hide');
				$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();
				AjaxPaymentMethodStarted();
				$.ajax(
				{
					url: this.action,
					type: this.method,
					data: $(this).serialize(),
					success: function (result) {
						$('#PaymentMethodEditWrapper').html(data);
						AjaxPaymentMethodFinish();
					},
					error: function (xhr, textStatus, errorThrown) {
						AjaxPaymentMethodFinish();
						if (xhr.status == 400) {
							$('#EditPaymentMethod').modal('show');
							$("#EditPaymentMethodErrors").html(xhr.statusText);
						}
					}
				});
			}
			return false;
		});
	});
</script>