@model FFF.InputModels.OrderInput

<script type="text/html" id="OrderEdit">
	<form data-bind="submit: Page.Account.Addresses.put">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Editing <span data-bind="text: nick"></span> Address</h3>
		</div>
		<div class="modal-body">
			<span class="help-inline field-validation-error">
			</span>
			@Html.HiddenFor( c => c.RID, new { data_bind="value: rid" } )
			@Html.EditorForModel( "Address" )
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			<button type="submit" class="btn btn-primary">
				<span class="glyphicon glyphicon-floppy-disk">
				</span>
				Save Changes
			</button>
		</div>
	</form>
</script>