<nav class="navbar navbar-default navbar-brand navbar-fixed-bottom visible-xs visible-sm" role="navigation">
	<ul class="nav nav-tabs ">
		<li><a href="#Order">Orders</a></li>
		<li><a href="#Profile">Profile</a></li>
		<li><a href="#PaymentMethod">Payment Methods</a></li>
		<li><a href="#Address">Addresses</a></li>
		<li><a href="#Review">Reviews</a></li>
		<li><a href="#Settings">Settings</a></li>
	</ul>
</nav>



<ul class="nav bs-sidenav" >
	<li><a href="#Order">Orders</a></li>
	<li><a href="#Profile">Profile</a></li>
	<li><a href="#PaymentMethod">Payment Methods</a></li>
	<li><a href="#Address">Addresses</a></li>
	<li><a href="#Review">Reviews</a></li>
	<li><a href="#Settings">Settings</a></li>
</ul>