@{
	ViewBag.Title = "My Account";
	ViewBag.Glyphicon = "user";
}
<div class="row">
	<div class="col-md-3">
		<div class="bs-sidebar hidden-print affix" role="complementary" id="sidenav">
			<h1 class="hidden-xs">
				<img src="@Url.Content("~/Content/Images/ajax-loader.gif")" class="updating" id="Updating" width="36px" height="36px" style="display:none" />
				<span class="glyphicon glyphicon-@ViewBag.Glyphicon updated" id="Updated"></span>
				@ViewBag.Title
			</h1>
			@{ Html.RenderPartial( "_Sidebar" ); }
		</div>
	</div>
	<div class="col-md-9">
		@{
			Html.RenderPartial( "_OrdersWrapper" );
			Html.RenderPartial( "_ProfileWrapper" );
			Html.RenderPartial( "_PaymentMethodsWrapper" );
			Html.RenderPartial( "_AddressesWrapper" );
			Html.RenderPartial( "_ReviewsWrapper" );
			Html.RenderPartial( "_SettingsWrapper" );
		}	
	</div>
</div>