@model FFF.Models.Account

<div class="row panel panel-primary">
	<div class="well well-lg">
	@*
		<ul class="nav nav-pills nav-justified">
			<li class="active"><a href="#PersonalContent" data-toggle="pill">Personal Profile</a></li>
			<li><a href="#SecurityContent" data-toggle="pill">Security Profile</a></li>
			<li><a href="#ContactContent" data-toggle="pill">Contact Profile</a></li>
			<li><a href="#FoodContent" data-toggle="pill">Food Profile</a></li>
		</ul>
	*@
		<div>
			<div id="PersonalWrapper" class="page-header">
				<h3 class="btn btn-info btn-lg" data-toggle="collapse" data-target="#PersonalContent">Personal Profile</h3>
				<div id="PersonalContent" class="collapse in">
					@{
						ViewBag.Path = "/Areas/Account/Views/Profile/Personal/";
						Html.RenderPartial( ViewBag.Path as String + "_Personal.cshtml", @Model );
					}
				</div>
			</div>
			<div id="SecurityWrapper" class="page-header">
				<h3 class="btn btn-info btn-lg" data-toggle="collapse" data-target="#SecurityContent">Security Profile</h3>
				<div id="SecurityContent" class="collapse">
					@{
						Html.RenderAction( "Manage", "User", new { area = "" } );
					}
				</div>
			</div>
			<div id="ContactWrapper" class="page-header">
				<h3 class="btn btn-info btn-lg" data-toggle="collapse" data-target="#ContactContent">Contact Profile</h3>
				<div id="ContactContent" class="collapse">
					@{
						ViewBag.Path = "/Areas/Account/Views/Profile/Contact/";
						Html.RenderPartial( ViewBag.Path as String + "_Contact.cshtml", @Model );
					}
				</div>
			</div>
			<div id="FoodWrapper" class="page-header">
				<h3 class="btn btn-info btn-lg" data-toggle="collapse" data-target="#FoodContent">Food Profile</h3>
				<div id="FoodContent" class="collapse">
					@{
						ViewBag.Path = "/Areas/Account/Views/Profile/Food/";
						Html.RenderPartial( ViewBag.Path as String + "_Food.cshtml", @Model );
					}
				</div>
			</div>
		</div>
	</div>
</div>